<div class="container espaco">
    <h1>Robô Blastoise | Arma</h1>
    <div>
        <p>O robô, assim como o personagem, possui uma arma retrátil, característica que proporciona maior força de ataque devido ao movimento de impulso inicial.</p>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="./images/ON_iso.png" alt="3D do projeto com a arma ativada" width="90%" height="auto">
        </div>
        <div class="col-md-7">
            <p>A arma do projeto consiste em uma lança giratória, cuja ponta possui uma esfera com elementos perfurantes e cortantes, tais como lâminas de aço para estilete e agulhas de costura.</p>
            <p>Quando acionada, a arma gira em torno de 180°, e permanece nessa posição de ataque por 12.500 milisegundos. Após esse período, ela recua para sua posição inicial.</p>
            <p>Um suporte de arame foi colocado para limitar o movimento da lança, e para que a arma fique na posição ideal.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>Entretanto, o projeto inicial da arma era um mecanismo inspirado numa lança de movimento pendular: de modo que enquanto sua parte frontal libera o lançamento da arma; em sua parte posterior, a bexiga ganha altura que serve como defesa de ataques alheios.</p>
            <p>Porém, esse projeto foi vetado devido ao movimento de defesa da bexiga, que deve ser estático a todo momento.</p>
        </div>
        <div class="col-md-5">
            <img src="./images/ANTIGO_ON_iso.png" alt="Arma anterior ativada" width="40%" height="auto">
        </div>
    </div>
</div>
