<div class="container espaco">
    <h1>Robô Blastoise | Arma</h1>
    <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis blanditiis est debitis quos ex placeat sed
            maiores explicabo, modi impedit quaerat, magni vitae consequatur iusto? Sunt laudantium nesciunt eaque
            molestiae!</p>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="../../../imgages/Blastoise-Pokemon-Lets-Go.png">
        </div>
        <div class="col-md-7">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo delectus vero quam, consequuntur ab
                fugiat officia sed reprehenderit repellendus quibusdam. Dolor labore nobis voluptates incidunt quia
                quasi odit consequatur aspernatur.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo delectus vero quam, consequuntur ab
                fugiat officia sed reprehenderit repellendus quibusdam. Dolor labore nobis voluptates incidunt quia
                quasi odit consequatur aspernatur.</p>
        </div>
        <div class="col-md-5">
            <img src="../../../imgages/Blastoise-Pokemon-Lets-Go.png">
        </div>
    </div>
</div>