<div class="container espaco">
    <h2>Quem Somos</h2>
    <p>O grupo Blastoise é formado por três estudantes do primeiro ano do curso de Sistemas de Informação da FIAP.</p>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img src="./images/eq_w.png" alt="Wagner" class="img-equipe" width="40%" height="auto">
                    <h5 class="card-title text-center">Wagner</h5>
                    <!-- <p class="card-text text-center">With supporting text below as a natural lead-in to additional content.</p> -->
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                  <img src="./images/eq_g.png" alt="Guilherme" class="img-equipe" width="40%" height="auto">
                    <h5 class="card-title text-center">Guilherme</h5>
                    <!-- <p class="card-text text-center">With supporting text below as a natural lead-in to additional content.</p> -->
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                  <img src="./images/eq_c.png" alt="Cynthia" class="img-equipe" width="40%" height="auto">
                    <h5 class="card-title text-center">Cynthia</h5>
                    <!-- <p class="card-text text-center">With supporting text below as a natural lead-in to additional content.</p> -->
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2>Fale Conosco</h2>
        <form>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Nome">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="E-mail">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Telefone (Opcional)">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="WebSite (opcional)">
                </div>
            </div>
            <div >

                <textarea class="form-control" placeholder="Digite sua Mensagem" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

        <!-- <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Address 2</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Check me out
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </form> -->
    </div>
</div>
