<div class="container espaco">
    <h1>Robô Blastoise</h1>
    <div>
        <p>O  nome “Blastoise” foi escolhido com a inspiração em um dos personagens da popular franquia japonesa da Nintendo “Pokemón” (Pocket Monsters, em português “monstros de bolso”) famosa principalmente pela série de animação e inúmeros jogos de videogame.</p>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="./images/squirtle_evolution.jpg" alt="Evolução: Squirtle - Wartortle - Blastoise" width="90%" height="auto">
        </div>
        <div class="col-md-7">
            <p>O personagem homenageado pelo grupo é o mascote de um dos primeiros jogos da franquia, Pokémon Blue, lançado em 1996 para o saudoso console Game Boy, um marco revolucionário nos games portáteis. Blastoise é a forma final de Squirtle, uma das opções de personagem inicial, que ao longo do jogo se desenvolve e evolui de acordo com o progresso do jogador. Seu nome é o resultado da junção das palavras em inglês “Blast” (explosão) que remete aos canhões de água, armas desse pokémon, e “tortoise” (tartaruga), animal que serviu de base para sua criação.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>De acordo com informações presentes nos jogos e na série animada, apesar de seu porte grande, Blastoise pode ser veloz ao girar seu casco rapidamente para derrubar os inimigos em seu caminho. Característica eleita pelo grupo como fundamento conceitual para  o desenvolvimento do robô, que consiste em uma estrutura que visa priorizar não somente a força para vencer seus oponentes, mas também a velocidade e a agilidade, muitas vezes deixadas equivocadamente em segundo plano ao se pensar numa estratégia de combate.</p>
        </div>
        <div class="col-md-5">
            <img src="./images/game_back.gif" alt="Blastoise na versão original para o jogo Pokémon: Blue para GameBoy" width="40%" height="auto">
        </div>
    </div>
</div>
