<div class="container espaco">
    <h1>RoboCup</h1>
    <div>
        <p>O Robocup é uma competição organizada anualmente pela FIAP, e neste ano será a sua 15ª edição. Seus participantes são os estudantes de 1º ano do cursos de Sistemas de Informação divididos em equipes de até cinco alunos.</p>
        <p>Os robôs são controlados pelo celular de forma remota: cada um deve apresentar um celular com a câmera ligada e conectada a outro através do Skype; esse último aparelho será utilizado como base para o controle remoto do engenho.</p>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="./images/fiap_robocup.jpg" width="100%" height="auto">
        </div>
        <div class="col-md-7">
            <p>Cada um deles deve transportar um balão e estar munido de uma arma controlada por um microprocessador programável. As armas só poderão ser ativadas quando um dos sensores do engenho for acionado, e deverá ficar ativa até 15 segundos; após esse tempo, deve ser totalmente recolhida dentro do perímetro do robô.</p>
            <p>Uma vez construídos os robôs, as equipes se enfrentarão numa disputa em que o robô vencedor será aquele que conseguir manter o seu balão intacto, após ter estourado os balões de todos os adversários. Caso empate, vencerá a equipe com maior número de ataques.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>Desde a criação do Robocup, em 2005, os alunos colocam seus conhecimentos à prova, numa competição que integra as disciplinas de Tecnologia, Planejamento e Execução de Projetos, bem como uma visão de mercado para o produto desenvolvido. O projeto também permite o desenvolvimento do trabalho em equipe. As apresentações são abertas aos alunos de todos os cursos FIAP, conforme agenda do projeto.</p>
        </div>
        <div class="col-md-5">
            <img src="./images/logo-robocup.png" width="100%">
        </div>
    </div>
</div>
