<div class="container espaco">
        <h1>Robô Blastoise | Projeto</h1>
        <p>Este projeto tem como finalidade a construção de um robô apto a competir na XV – ROBOCUP. Visa-se seguir todas as normas e especificações apresentada no regulamento oficial e documentos fornecidos, de maneira a cumprir com os objetivos dados de maneira eficiente e criativa.</p>
        <div class="row">
            <div class="col">
                <img src="./images/OFF_cima.png" alt="Projeto visto de cima com a arma desligada" width="100%" height="auto">
            </div>
            <div class="col">
                <img src="./images/OFF_elevlat.png" alt="Projeto visto de lado com a arma desligada" width="100%" height="auto">

            </div>
            <div class="col">
                <img src="./images/ON_cima.png" alt="Projeto visto de cima com a arma ligada" width="100%" height="auto">
            </div>
            <div class="col">
                <img src="./images/ON_elevlat.png" alt="Projeto visto de lado com a arma ligada" width="100%" height="auto">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <p>O formato da estrutura do artefato foi decidido de maneira a remeter ao casco de uma tartaruga. Sua forma oval, com a frente mais estreita e levemente mais baixa auxilia na aerodinâmica do robô, e faz com que este se locomova de maneira mais ágil e veloz.
              </p>
              <p>O engenho elaborado pelo grupo consiste em um chassi com duas rodas posteriores nas suas laterais e um dispositivo auxiliar de rolamento na parte central posterior, que tem como finalidade um aumento na mobilidade do robô. O chassi que dá suporte estrutural para o arduíno e os demais componentes eletrônicos do robô é protegido por placas de acrílico.
              </p>



            </div>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/X5fxs1zF4Ug"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
