<div class="container espaco">
    <h1>Galeria</h1>

<div>
  <div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-2"><button class="btn btn-block btn-outline-black waves-effect filter" data-rel="all">Todas</button></div>
    <div class="col-md-2"><button class="btn btn-block btn-outline-black waves-effect filter" data-rel="1">Projeto</button></div>
    <div class="col-md-2"><button class="btn btn-block btn-outline-black waves-effect filter" data-rel="2">Robô</button></div>
    <div class="col-md-2"><button class="btn btn-block btn-outline-black waves-effect filter" data-rel="3">RoboCup</button></div>
    <div class="col-md-2"></div>
  </div>
</div>

<!-- Grid row -->
<div class="gallery" id="gallery">


    <!-- Grid column -->
    <div class="mb-3 pics animation all 3">
      <img class="img-fluid" src="./images/fiap_robocup2.jpg" alt="RoboCup">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
      <img class="img-fluid" src="./images/foto_antes.jpeg" alt="Projeto com a arma ativada">
    </div>
    <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="./images/foto_OFF.jpg" alt="Foto do robô com a arma desativada">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="./images/ON-OFF_iso.png" alt="Projeto em perspectiva">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <img class="img-fluid" src="./images/blastoise.png" alt="Pokémon Blastoise">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <img class="img-fluid" src="./images/foto_ON.jpeg" alt="Foto do robô com a arma ativada">
  </div>
  <!-- Grid column -->



</div>
<!-- Grid row -->
</div>

<script>
  $(function() {
      var selectedClass = "";
      $(".filter").click(function(){
      selectedClass = $(this).attr("data-rel");
      $("#gallery").fadeTo(100, 0.1);
          $("#gallery div").not("."+selectedClass).fadeOut().removeClass('animation');
              setTimeout(function() {
              $("."+selectedClass).fadeIn().addClass('animation');
              $("#gallery").fadeTo(300, 1);
          }, 300);
      });
  });
</script>
